/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-crowdify-icon-list {
	padding-left: 0;
	display: flex;
	list-style: none;

	&:not(.is-inline-layout) {
		flex-direction: column;
	}

	&.items-align {
		&-right {
			align-items: end;
		}
		&-center {
			align-items: center;
		}
	}
}
