.wp-block-post-template {
	&.is-carousel {
		li {
			margin-top: 0 !important;
		}
	}
}

.wp-block-image.is-force-full-width {
	width: 100% !important;
}

.crowdify-separator {
	display: flex;
	justify-content: start;

	.wp-block-separator {
		margin-inline: 0;
	}
}
