.wp-block-post-template {
	&.is-carousel {
		li {
			margin-top: 0 !important;
		}
	}
}

.crowdify-separator {
	display: flex;
	justify-content: start;

	.wp-block-separator {
		margin-inline: 0;
	}
}
