/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.crowdify-force-full-width-container {
	margin-top: -8px;
	padding: 0 16px 16px;
}

.wp-block-image.is-force-full-width {
	.components-resizable-box__container {
		width: 100% !important;
	}
}
